
body{
  height: 100%;

}

.bodylogin{
  background: url(http://mymaplist.com/img/parallax/back.png);
  background-color: #222;
  background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);
  min-height: 100%;

}

.vertical-offset-100{
  padding-top:100px;
}
